registry="https://registry.npmmirror.com/"
sass_binary_site="https://npm.taobao.org/mirrors/node-sass/"
phantomjs_cdnurl="http://cnpmjs.org/downloads"
electron_mirror="https://repo.huaweicloud.com/electron/"
electron_mirror="https://repo.huaweicloud.com/electron-builder-binaries/"
sqlite3_binary_host_mirror="https://repo.huaweicloud.com/sqlite3/"
profiler_binary_host_mirror="https://repo.huaweicloud.com/node-inspector/profiler/"
chromedriver_cdnurl="https://repo.huaweicloud.com/chromedriver/"
